{% extends 'main/base.html' %}

{% block title %} Create New List {% endblock %}

{% block todolist_navigation %}
    <!-- Dodatkowe przyciski nawigacyjne specyficzne dla ToDoList -->
    <a href="/create">Create</a>
    <a href="/view">View</a>
{% endblock %}

{% block content %}
<h3>Create List</h3>
<form method="post" action="/create/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit", name="save" class="btn btn-success me-2">Create New</button>
        </div>
        {{form.name}}
    </div>
</form>
{% endblock %}