{% extends 'main/base.html' %}
{% load static %}

{% block todolist_navigation %}
    <!-- Dodatkowe przyciski nawigacyjne specyficzne dla ToDoList -->
    <a href="/create">Create</a>
    <a href="/view">View</a>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/todolist.css' %}">  

    <!-- Tutaj umieść treść ToDoList -->
    <h3>Welcome in ToDoList</h3>

    {% if ls == 1 %}
        <label class="fs-3 font-monospace color-label">You have {{ls}} list</label>
    {% else %}
        <label class="fs-3 font-monospace color-label">You have {{ls}} lists</label>
    {% endif %}

    <div class="input-group">
        <div class="input-group-prepend mt-2">
            <button class="button"><a href="/create">Create</a></button>
            <button class="button"><a href="/view">View</a></button>
        </div>
    </div>

{% endblock %}