{% extends "main/base.html" %}
{% load static %}

{% block title %}
View
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/todolist.css' %}">  
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="shadow p-4 rounded bg-second-color">
                <h3 class="text-center">Your Lists</h3>
                <form method="post" action="#" class="form-group">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="submit", name="save" class="btn btn-success me-2">Create New</button>
                        </div>
                        {{form.name}}
                    </div>
                </form>
                <hr class="mt-4 mb-4">
                {% for td in user.todolist.all %}
                    <div class="mb-3 row">
                        <div class="col">
                            <a href="/{{td.id}}" class="btn btn-list">{{td.name}}</a>
                        </div>
                        <div class="col">
                        <a href="delete/{{td.id}}" class="btn btn-danger delete-btn">
                            <i class="bi bi-trash3"></i> Delete
                        </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var SwalColors = {
        warning: "rgba(177, 195, 45, 0.45)",
        danger: "rgba(209, 36, 36, 0.45)",
        success: "rgba(29, 210, 47, 0.45)"
    };

    function SwalOverlayColor(color){
        setTimeout(function(){
            $(".swal-overlay").css({"background-color": color});
        }, 10);
    }
    $(document).ready(function() {
        // Nasłuchuj zdarzenia kliknięcia na przycisku z klasą 'delete-btn'
        $('.delete-btn').on('click', function(event) {
            // Zatrzymaj domyślne zachowanie przeglądarki dla linku
            event.preventDefault();
            // Pobierz adres URL z atrybutu 'href' przycisku
            var deleteUrl = $(this).attr('href');
            SwalOverlayColor(SwalColors["warning"]);
            // Wyświetl komunikat swal przed wykonaniem żądania usuwania
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                // Jeśli użytkownik kliknie przycisk "OK" w komunikacie swal
                if (willDelete) {
                    // Wykonaj żądanie usuwania, przekierowując do adresu 'deleteUrl'
                    window.location.href = deleteUrl;
                }
            });
        });
    });
</script>
{% endblock %}
