{% extends "main/base.html" %} 
{% load static %} 
{% load poll_extras %}

{% block title %}Budget{% endblock %} 

{% block content%}
<link rel="stylesheet" href="{% static 'css/travel_manager.css' %}">   

<form method="post" enctype="multipart/formdata">
    {% csrf_token %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="shadow p-4 rounded bg-add-destination bg-second-color">
                    <div class="form-group row">
                        <label for="country" class="col-form-label col-3 text-start">Description</label>
                        <div class="col mt-2">
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city" class="col-form-label col-3 text-start">Price</label>
                        <div class="col mt-1">
                            {{ form.price }}
                        </div>
                    </div>
                    <button class="save" type="submit" name="add" value="add">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<hr class="mt-4 mb-4">
{% if budgets %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="shadow p-4 rounded bg-view bg-second-color">
            <table class="w-100 text-center tabel table-bordered bg-navbar">
                <thead>
                    <tr>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for budget in budgets%}
                    <tr>
                        <td>{{budget.description}}</td>
                        <td>
                            <div class="d-inline-flex ms-4">
                                {{budget.price}}
                                <form method="post" action="#">
                                    {% csrf_token %}
                                    <button type="submit" name="delete" value="{{ budget.id }}" class="bi bi-trash3 delete-btn" style="color:red;"></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="bg-third-color" style="color:white;">
                        <td class="text-center">Total</td>
                        <td id="total-price">{{ budgets|sum:'price' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
<script>
    var SwalColors = {
        warning: "rgba(177, 195, 45, 0.45)",
        danger: "rgba(209, 36, 36, 0.45)",
        success: "rgba(29, 210, 47, 0.45)"
    };

    function SwalOverlayColor(color){
        setTimeout(function(){
            $(".swal-overlay").css({"background-color": color});
        }, 10);
    }
    $(document).ready(function() {
        // Nasłuchuj zdarzenia kliknięcia na przycisku z klasą 'delete-btn'
        $('.delete-btn').on('click', function(event) {
            // Zatrzymaj domyślne zachowanie przeglądarki dla linku
            event.preventDefault();
            // Pobierz adres URL z atrybutu 'href' przycisku
            var deleteUrl = $(this).attr('href');
            SwalOverlayColor(SwalColors["warning"]);
            // Wyświetl komunikat swal przed wykonaniem żądania usuwania
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                // Jeśli użytkownik kliknie przycisk "OK" w komunikacie swal
                if (willDelete) {
                    // Wykonaj żądanie usuwania, przekierowując do adresu 'deleteUrl'
                    window.location.href = deleteUrl;
                }
            });
        });
    });
</script>
{% endblock %}