{% extends "main/base.html" %}
{% load static %}

{% block title %}Manage destination{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/travel_manager.css' %}">   

<div class="d-flex justify-content-between align-items-center">
    <h3 class="text-center mx-auto">{{destinations.country.name}} | {{destinations.city}}</h3>
</div>
<hr class="mt-4 mb-4">

<div class="justify-content-end">
    <button class="btn-socials">TikTok</button>
    <button class="btn-socials me-3">Instagram</button>
</div>
{% endblock %}