{% extends "main/base.html" %} 
{% load static %} 
{% load poll_extras %}

{% block title %}Tiktok sources{% endblock %} 

{% block content%}
<link rel="stylesheet" href="{% static 'css/travel_manager.css' %}">   
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<div class="d-flex justify-content-between align-items-center">
    <h3 class="text-center mx-auto">{{destinations.country.name}} | {{destinations.city}}</h3>
</div>
<hr class="mt-4 mb-4">
<h2>Select Range Date</h2>
<form method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-success">Create</button>
</form>
<div class="mt-5">
    <div id="label-container" class="me-3">
        {% for location in locations %}
            {% if location.inside_planner == False %}
                <div class="draggable-item" data-id="{{ location.id }}" data-label="{{ location.descriptions }}" style="background-color: {{ location.marker_color }}">
                    <label style="background-color: {{ location.marker_color }}; color: white;">{{ location.descriptions }}</label>
                </div>
            {% endif %}
        {% endfor %}
    </div>
      {% for planner_table_date in planner_table_dates %}
          <table class="droppable-table mb-5" data-date="{{ planner_table_date.date }}">
              <thead>
                  <tr>
                      <th class="text-center" colspan="3">{{ planner_table_date.date  }}</th>
                  </tr>
                  <tr>
                    <th class="planner-table-description">Description</th>
                    <th class="planner-table-address">Address</th>
                    <th class="planner-table-price">Price</th>
                  </tr>
              </thead>
              <tbody>
                  {% for planner_table_description in planner_table_date.planner_table_descriptions_set.all %}
                      <tr style="background-color: {{planner_table_description.color_label}}; color: white;">
                          <td class="planner-table-description">
                            <i class="fas fa-{{planner_table_description.location_address.icon}}"></i> {{ planner_table_description.descriptions }}
                          </td>
                          <td class="planner-table-address">
                              <i class="fas fa-map map-icon" data-address="{{ planner_table_description.location_address.address }}" style="cursor: pointer"> Click to copy</i>
                          </td>
                          <td class="planner-table-price">
                              {{ planner_table_description.location_address.price|floatformat:"2" }}
                          </td>
                      </tr>
                  {% endfor %}
                    <tr>
                      <td class="text-center" colspan="2">Total</td>
                      <td id="total-price"></td>
                    </tr>
              </tbody>
          </table>
      {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(".droppable-table").each(function() {
      var total = 0;

      $(this).find(".planner-table-price").each(function() {
          var priceText = $(this).text().replace(",", ".");
          var priceValue = parseFloat(priceText);

          if (!isNaN(priceValue)) {
              total += priceValue;
          }
      });
      var formattedTotal = total.toFixed(2);
      $(this).find("#total-price").html('<span style="position: relative; top: -1px; display: inline-block;">$</span>' + formattedTotal);
  });
</script>
<script>
    $(function() {
     
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
  
      $(".draggable-item").draggable({
        revert: "invalid",
        helper: "clone"
      });
  
      $(".droppable-table").droppable({
        accept: ".draggable-item",
        over: function(event, ui) {
          $(this).addClass("highlighted");
        },
        out: function(event, ui) {
          $(this).removeClass("highlighted");
        },
        drop: function(event, ui) {
          var droppedText = ui.helper.text().trim();
          var droppedColor = ui.helper.css('background-color');
          var droppedLabel = ui.helper.data('label');
          var targetTable = $(this).data('date');
          var labelid = ui.helper.data('id');
  
          if ($(this).find("td:contains('" + droppedLabel + "')").length === 0) {
            var targetBody = $(this).find("tbody");
            targetBody.append('<tr style="background-color: ' + droppedColor + ';"><td><label style="background-color: ' + droppedColor + '; color: white;">' + droppedText + '</label></td></tr>');
  
            $("#label-container").find("[data-label='" + droppedLabel + "']").remove();
  
            
            var csrf_token = getCookie('csrftoken');
            $.ajax({
              type: "POST",
              url: "",
              headers: {'X-CSRFToken': csrf_token},
              data: {
                text: droppedText,
                color: droppedColor,
                table_header: targetTable,
                id: labelid,
              },
              success: function(data) {
                console.log("Label saved successfully.");
              },
              error: function(error) {
                console.error("Error saving label:", error);
              }
            });
          }
  
          $(this).removeClass("highlighted");

          setTimeout(function() {
            location.reload();
        }, 10);
      }
      });
      // Click event for copying address on map icon click
      $(".map-icon").on("click", function() {
        var addressToCopy = $(this).data('address');
        var dummyInput = document.createElement("input");
        document.body.appendChild(dummyInput);
        dummyInput.setAttribute('value', addressToCopy);
        dummyInput.select();
        document.execCommand('copy');
        document.body.removeChild(dummyInput);
      });
    });
  </script>
{% endblock %}