{% extends "main/base.html" %} 
{% load static %} 
{% load poll_extras %}

{% block title %}Tiktok sources{% endblock %} 

{% block back %}
<a class="bi bi-arrow-left-circle-fill back-page" href="{% url 'back-page' %}"></a>
{% endblock %}

{% block planner_labels %}
  <div class="container sticky-labels">
    <div class="shadow p-4 rounded bg-second-color text-center">
      <div>Drag & Drop</div>
      <div id="label-container" class="d-flex flex-column">
        {% for location in locations %}
            {% if location.inside_planner == False %}
                <div class="form-group row draggable-item" data-id="{{ location.id }}" data-label="{{ location.descriptions }}" style="background-color: {{ location.marker_color }}">
                    <label class="drag-label" style="col background-color: {{ location.marker_color }}; color: white;"><i class="bi bi-list"></i> {{ location.descriptions }}</label>
                </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block content%}
<link rel="stylesheet" href="{% static 'css/travel_manager.css' %}">   
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<div class="d-flex justify-content-between align-items-center">
    <h3 class="text-center mx-auto">{{destinations.country.name}} | {{destinations.city}}</h3>
</div>
<hr class="mt-4 mb-4">
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-5">
          <div class="shadow p-4 rounded bg-view bg-second-color">
              <h2 class="text-center mb-4">Select Range Date</h2>
              <form method="post" class="text-center">
                  {% csrf_token %}
                  {{ form.media }}
                  {{ form.as_p }}
                  <button type="submit" class="save">Create</button>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="mt-5">
    {% comment %} <div id="label-container" class="me-3">
        {% for location in locations %}
            {% if location.inside_planner == False %}
                <div class="draggable-item" data-id="{{ location.id }}" data-label="{{ location.descriptions }}" style="background-color: {{ location.marker_color }}">
                    <label style="background-color: {{ location.marker_color }}; color: white;">{{ location.descriptions }}</label>
                </div>
            {% endif %}
        {% endfor %}
    </div> {% endcomment %}
    {% comment %} <div class="mt-5 sticky-labels">
          <div id="label-container">
            {% for location in locations %}
                {% if location.inside_planner == False %}
                    <div class="form-group row draggable-item" data-id="{{ location.id }}" data-label="{{ location.descriptions }}" style="background-color: {{ location.marker_color }}">
                        <label style="col background-color: {{ location.marker_color }}; color: white;">{{ location.descriptions }}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div> {% endcomment %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="shadow p-4 rounded bg-second-color">
          {% for planner_table_date in planner_table_dates %}
              <table class="droppable-table mb-5 bg-navbar" data-date="{{ planner_table_date.date }}">
                  <thead>
                      <tr>
                          <th class="text-center" colspan="3">{{ planner_table_date.date  }}</th>
                      </tr>
                      <tr>
                        <th class="planner-table-description">Description</th>
                        <th class="planner-table-address">Address</th>
                        <th class="planner-table-price">Price</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for planner_table_description in planner_table_date.planner_table_descriptions_set.all %}
                          <tr style="background-color: {{planner_table_description.color_label}}; color: white;">
                              <td class="planner-table-description">
                                <i class="fas fa-{{planner_table_description.location_address.icon}}"></i> {{ planner_table_description.descriptions }}
                              </td>
                              <td class="planner-table-address">
                                  <i class="bi bi-clipboard2-fill map-icon" data-address="{{ planner_table_description.location_address.address }}" style="cursor: pointer"> Click to copy</i>
                              </td>
                              <td class="planner-table-price">
                                {% if planner_table_description.location_address.price > 0.0 %}
                                  {{ planner_table_description.location_address.price|floatformat:"2" }}
                                {% else %}
                                  Free
                                {% endif %}
                              </td>
                          </tr>
                      {% endfor %}
                        <tr>
                          <td class="text-center" colspan="2">Total</td>
                          <td id="total-price"></td>
                        </tr>
                  </tbody>
              </table>
          {% endfor %}
          </div>
      </div>
    </div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  $(".droppable-table").each(function() {
      var total = 0;

      $(this).find(".planner-table-price").each(function() {
          var priceText = $(this).text().replace(",", ".");
          var priceValue = parseFloat(priceText);

          if (!isNaN(priceValue)) {
              total += priceValue;
          }
      });
      var formattedTotal = total.toFixed(2);
      $(this).find("#total-price").html('<span style="position: relative; top: -1px; display: inline-block;">$</span>' + formattedTotal);
  });
</script>
<script>
    var SwalColors = {
        warning: "rgba(177, 195, 45, 0.45)",
        danger: "rgba(209, 36, 36, 0.45)",
        success: "rgba(29, 210, 47, 0.45)"
    };
    
    function SwalOverlayColor(color){
        setTimeout(function(){
            $(".swal-overlay").css({"background-color": color});
        }, 10);
    }
    $(function() {
     
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
  
      $(".draggable-item").draggable({
        revert: "invalid",
        helper: "clone"
      });
  
      $(".droppable-table").droppable({
        accept: ".draggable-item",
        over: function(event, ui) {
          $(this).addClass("highlighted");
        },
        out: function(event, ui) {
          $(this).removeClass("highlighted");
        },
        drop: function(event, ui) {
          var droppedText = ui.helper.text().trim();
          var droppedColor = ui.helper.css('background-color');
          var droppedLabel = ui.helper.data('label');
          var targetTable = $(this).data('date');
          var labelid = ui.helper.data('id');

  
          if ($(this).find("td:contains('" + droppedLabel + "')").length === 0) {
            var targetBody = $(this).find("tbody");
            targetBody.append('<tr style="background-color: ' + droppedColor + ';"><td><label style="background-color: ' + droppedColor + '; color: white;">' + droppedText + '</label></td></tr>');
  
            $("#label-container").find("[data-label='" + droppedLabel + "']").remove();
  
            
            var csrf_token = getCookie('csrftoken');
            $.ajax({
              type: "POST",
              url: "",
              headers: {'X-CSRFToken': csrf_token},
              data: {
                text: droppedText,
                color: droppedColor,
                table_header: targetTable,
                id: labelid,
              },
              success: function(data) {
                console.log("Label saved successfully.");
              },
              error: function(error) {
                console.error("Error saving label:", error);
              }
            });
          }
  
          $(this).removeClass("highlighted");

          setTimeout(function() {
            location.reload();
        }, 50);
        
      }
      });
      // Click event for copying address on map icon click
      $(".map-icon").on("click", function() {
        var addressToCopy = $(this).data('address');
        var dummyInput = document.createElement("input");
        document.body.appendChild(dummyInput);
        dummyInput.setAttribute('value', addressToCopy);
        dummyInput.select();
        document.execCommand('copy');
        SwalOverlayColor(SwalColors["success"]);
        Swal.fire({
          title: "Copied address", 
          text: addressToCopy,
          icon: "success",
          timer: 1500,
          buttons: false,
        })
        document.body.removeChild(dummyInput);
      });
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = sessionStorage.getItem('scrollpos');
        if (scrollpos) {
            window.scrollTo(0, scrollpos);
            sessionStorage.removeItem('scrollpos');
        }
    });

    window.addEventListener("beforeunload", function (e) {
        sessionStorage.setItem('scrollpos', window.scrollY);
    });
</script>
<script>
  $(document).ready(function() {
    if ($("#label-container").children().length === 0) {
      $(".container.sticky-labels").hide();
    }
  });
  </script>
{% endblock %}