{% extends "main/base.html" %}
{% load static %}

{% block title %}
View
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/todolist.css' %}">  
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="shadow p-4 rounded bg-second-color">
                <h3 class="text-center">Your Lists</h3>
                <form method="post" action="#" class="form-group">
                    {% csrf_token %}
                    <input type="hidden" id="delete_id" name="delete_id" value="">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="submit", name="save" class="btn btn-success me-2">Create New</button>
                        </div>
                        {{form.name}}
                    </div>
                
                <hr class="mt-4 mb-4">
                {% for list in user_lists %}
                    <div class="mb-3 row">
                        <div class="col">
                            <a href="/{{list.id}}" class="btn btn-list">{{list.name}}</a>
                        </div>
                        <div class="col">
                        <button type="button" data-id="{{list.id}}" class="btn btn-danger delete-btn">
                            <i class="bi bi-trash3"></i> Delete
                        </button>
                        </div>
                    </div>
                {% endfor %}
            </form>
            </div>
        </div>
    </div>
</div>
<script>
    var SwalColors = {
        warning: "rgba(177, 195, 45, 0.45)",
        danger: "rgba(209, 36, 36, 0.45)",
        success: "rgba(29, 210, 47, 0.45)"
    };

    function SwalOverlayColor(color){
        setTimeout(function(){
            $(".swal-overlay").css({"background-color": color});
        }, 10);
    }
    $(document).ready(function() {
        // Nasłuchuj zdarzenia kliknięcia na przycisku z klasą 'delete-btn'
        $('.delete-btn').on('click', function(event) {
            // Zatrzymaj domyślne zachowanie przeglądarki dla linku
            event.preventDefault();
            var deleteId = $(this).data('id');
            SwalOverlayColor(SwalColors["warning"]);
            // Wyświetl komunikat swal przed wykonaniem żądania usuwania
            Swal.fire({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this item!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Delete it",
                dangerMode: true,
                backdrop: "rgba(199, 212, 21, 0.4)",
            }).then((result) => {
                // Jeśli użytkownik kliknie przycisk "OK" w komunikacie swal
                if (result.isConfirmed) {
                    // Ustaw identyfikator w ukrytym polu formularza
                    $('#delete_id').val(deleteId);
    
                    // Wyślij formularz
                    $('form').submit();
                }
            });
        });
    });
</script>
{% endblock %}
