
.navbar .nav-link:hover{
    color: #EEEDEB;
}

.bg-navbar{
    background-color: #E3CAA5;
}

.bg-base{
    background-color: #FFFBE9;
}

.bg-second-color{
    background-color: #CEAB93;
}

.bg-third-color{
    background-color: #AD8B73;
}
.nav-link.logout{
    font-size: 30px;
}

.nav-link.login{
    font-size: 30px;
}

.nav-link.register{
    font-size: 30px;
}

.dropdown-item:hover{
    background-color: transparent;
    color: #EEEDEB;
}