.bg-base{
    background-color: #FFFBE9;
}

.bg-navbar{
    background-color: #E3CAA5;
}

.bg-second-color{
    background-color: #CEAB93;
}

.bg-third-color{
    background-color: #AD8B73;
}

.dropdown-toggle{
    margin-top: 2px;
}

.navbar .nav-link:hover{
    color: #EEEDEB;
}

.nav-link.logout{
    font-size: 1.25rem;
}

.nav-link.login{
    font-size: 1.25rem;
}

.nav-link.register{
    font-size: 1.25rem;
}

.nav-link.admin{
    font-size: 1.25rem;
}

.dropdown-toggle,
.dropdown-item{
    font-size: 1.25rem;
}

.dropdown-item:hover{
    background-color: transparent;
    color: #EEEDEB;
}

.home-button:hover{
    color: #FFFBE9;
}

.back-page{
    font-size:3em; 
    color:#CEAB93;
    position: sticky;
    top: 0.5rem;
    margin-left: 2rem;
    margin-right: -4rem;
}

.back-page:hover{
    color: #f5ccb2;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .mobile{
        display: none;
    }
}

.save {
    margin-top: 20px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .save:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .save:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: #A3C9AA;
  }
  
  .save:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }