.save {
  margin-top: 20px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  left: 26%;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.save:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.save:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #A3C9AA;
}

.save:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.img-fit{
    width: 20%;
    height: 20%;
}

label.form{
    display: block;
    width: 15%;
}

.btn-socials{
    float: right;
}

textarea{
    resize: none;
}

.btn-socials {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-socials:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn-socials:hover:after {
  transform: translate(0, 0);
}

.btn-socials:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn-socials:hover {
  outline: 0;
}

.fa-dollar-sign {
  color: #3aa71c;
  transform: translateY(-1px);
  margin-right: 5px;
}

.fa-book-bookmark {
  color: #654205;
  transform: translateY(-1px);
  margin-right: 5px;
}

.fa-tiktok {
  transform: translateY(-1px);
  margin-right: 5px;
}

.fa-file {
  color: #000000;
  transform: translateY(-1px);
  margin-right: 5px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes move-up-down {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes sending-file{
  0%, 100% {transform: translateX(0) translateY(0); }
  50% {transform: translateX(15px) translateY(-10px) ;}
}

.btn.btn-primary:hover .fa-paper-plane{
  animation: sending-file 1s infinite ease;
}

@media (min-width: 768px) {
  .btn-socials {
    padding: 0 40px;
  }
}

.draggable-item {
  color: #ffffff;
  padding: 5px;
  margin: 5px;
  cursor: move;
  display: inline-block;
}

.draggable-item label{
  width: fit-content;
}

.droppable-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Dodane obramowanie */
  margin-top: 10px; /* Odstęp od góry */
}

.droppable-table th,
.droppable-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.highlighted {
  background-color: #308bdb;
}

.btn.btn-danger.form-control {
  position: relative;
  overflow: hidden;
}

.btn.btn-danger.form-control:hover .fa-trash,
.btn.btn-danger.form-control:hover span {
  animation: beat-fade 1s infinite linear;
}

@keyframes beat-fade {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.5; }
}

.planner-table-description{
  width: 50%;
}

.planner-table-address{
  width: 25%;
}

.planner-table-price{
  width: 25%;
}

.sticky-labels{
  position: sticky;
  top: 50%;
}

.bi-trash3:hover {
  color: white !important;
}

.bi-trash3{
  background: none;
  border: none;
  float:right;
}

.table.table-hover{
  cursor: pointer;
}