.save{
    float: right;
}

.img-fit{
    width: 20%;
    height: 20%;
}

label.form{
    display: block;
    width: 15%;
}

.btn-socials{
    float: right;
}

textarea{
    resize: none;
}

.btn-socials {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-socials:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn-socials:hover:after {
  transform: translate(0, 0);
}

.btn-socials:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn-socials:hover {
  outline: 0;
}

.fa-dollar-sign {
  color: #3aa71c;
  transform: translateY(-1px);
  margin-right: 5px;
}

.fa-book-bookmark {
  color: #654205;
  transform: translateY(-1px);
  margin-right: 5px;
}

.fa-tiktok {
  transform: translateY(-1px);
  margin-right: 5px;
}

.fa-file {
  color: #000000;
  transform: translateY(-1px);
  margin-right: 5px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes move-up-down {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@media (min-width: 768px) {
  .btn-socials {
    padding: 0 40px;
  }
}

.draggable-item {
  color: #ffffff;
  padding: 5px;
  margin: 5px;
  cursor: move;
  display: inline-block;
}

.draggable-item label{
  width: fit-content;
}

.droppable-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Dodane obramowanie */
  margin-top: 10px; /* Odstęp od góry */
}

.droppable-table th,
.droppable-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.highlighted {
  background-color: #308bdb;
}

.btn.btn-danger.form-control {
  position: relative;
  overflow: hidden;
}

.btn.btn-danger.form-control:hover .fa-trash,
.btn.btn-danger.form-control:hover span {
  animation: beat-fade 1s infinite linear;
}

@keyframes beat-fade {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.5; }
}

.planner-table-description{
  width: 50%;
}

.planner-table-address{
  width: 25%;
}

.planner-table-price{
  width: 25%;
}

